h3 {
  width: 250px;
  margin: 10px auto;
}

td
{
  text-align:center;
}

html,body {
  height:100%;
}

#Page {
  width: 100%;
  height:100%;
  margin: 0px auto;
  text-align: center;
/*  max-width: 650px;*/
}
/*
#RouteStop {
  float: left;
  max-width:280px;
  width:50%;
}

#RouteStopTable {
  width:100%;
  max-width:280px;
}

#StopSearch {
  float: left;
  max-width:305px;
  width:100%;
}

#FindMe {
  float: left;
  max-width:650px;
  width:100%;
  padding-top:10px;
  padding-bottom:20px;
}

#FindMeButton {
  width:100%;
  height:30px;
}
*/
#StopSearchTable {
  max-width:305px;
  width:100%;
}
/*
#RouteList {
  width: 400px;
  margin: 0px auto;
}

.StopInfoTable {
  width: 100%;
  margin: 0px;
  max-width: 650px;
  padding-bottom:10px;
}
*/
#ThreeColLeft {
  width: 47.5%;
}

#ThreeColCenter {
  width: 5%;
}

#ThreeColRight {
  width: 47.5%;
}

#TwoColLeft {
  width: 5%;
}

#TwoColRight {
  width: 95%;
}
